<input>
    <br>

    <h1>This is from route1</h1>
    <br>
    <h1>{{pizzaTopping}}</h1>
    <br>
    <h1>{{pizzaDisplay}}</h1>
    <br>
    <input type="text" ng-model="pizzaDisplay.name">Enter Pizza Name</input>
    <br>
    <input type="text" ng-model="pizzaDisplay.type">Enter Pizza Type</input>
    <br>
    <input type="text" ng-model="pizzaDisplay.flour">Enter Flour Type</input>
    <br>
    <input type="button" ng-click="submitPizza(pizzaDisplay)" name="Order Pizza" value="Order Pizza">

</div>